* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

body {
  background-image: linear-gradient(165deg, rgb(52, 1, 87), rgb(34, 2, 51));
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  padding: 25px 45px;
}


/* ================= Header ================ */

header {
  text-align: center;
  height: 90px;
}

.logo {
  float: left;
  text-align: right;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: rgb(168, 102, 213);
  font-size: 45px;
}

h3 {
  font-size: 20px;
  color: rgb(217, 186, 238);
  position: relative;
  top: -18px;
  left: -25px;
}

.myPlayer {
  position: absolute;
  right: 10%;
  top: 143px;
}

.playCont {
  border-left: 1px solid rgb(123, 41, 180);
  border-right: 1px solid rgb(123, 41, 180);
  /*border-radius: 7px;*/
  height: 60px;
  width: 290px;
  text-align: left;

}

.playerText {
  color: rgb(123, 41, 180);
  position: absolute;
  width: 157px;
  left: 78px;
  top: -1px;
  white-space: nowrap;
  overflow: hidden;
}

.playBtn {
  height: 50px;
  position: absolute;
  top: 5px;
  left: 25px;
}

.progressBar {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  left: 77px;
  bottom: 21px;
  height: 20px;
}

.progressBar::-webkit-progress-value {
  background-color: rgb(123, 41, 180);
  border-radius: 3px;

}
.progressBar::-webkit-progress-bar {
  border: 1px solid #7b29b4;
  background-color: rgba(123, 41, 180, 0.25);
  border-radius: 3px;
}

.volume {
  position: absolute;
  right: 0;
  top: 27px;
  transform: rotateZ(-90deg);
  width: 50px;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid rgb(123, 41, 180);
  height: 6px;
}

.volume:focus {
  outline: none;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 12px;
  background-color: rgb(123, 41, 180);
  border-radius: 2px;
}

hr {
  margin: 20px 0;
  border-color: rgb(123, 41, 180);
}


/* ================= Search Bar ================ */

.search-form {
  padding-left: 55px;
}

.textInput {
  width: 280px;
  margin-right: 10px;
  border: 1px solid rgb(123, 41, 180);
  background-color: rgba(36, 1, 70, 0);
  color: rgb(168, 102, 213);
  border-radius: 10px;
  padding: 3px 0 3px 12px;
  font-size: 18px;
}

.textInput:focus {
  outline: none;
}

.textInput::placeholder {
  color: rgb(103, 18, 161);
  font-style: italic;
}

.searchBtn {
  height: 31px;
  color: rgb(168, 102, 213);
  border: 1px solid rgb(123, 41, 180);
  background-color: rgba(36, 1, 70, 0);
  border-radius: 10px;
  font-size: 17px;
  padding: 3px 14px;
}

.searchBtn:focus {
  outline: none;
  transition: .2s;
}

.searchBtn:hover {
  background-color: rgba(91, 22, 139, 0.26);
}

.searchBtn:active {
  background-color: rgba(142, 65, 196, 0.26);
}


/* ================= Results Area ================ */

.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.resultItem {
  width: 13%;
  margin: 20px 40px;
  text-align: center;
}

.hoverCont {
  width: 100%;
  height: inherit;
  padding-right: 40%;
  opacity: 0;
  transition: .3s ease;
}

.hoverCont:hover {
  transition: .3s ease;
  opacity: .7;
}

.hoverPlay {
  position: absolute;
  width: 6%;
  margin-top: 23px;
}

.albumArt {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.26);
  transition: .3s;
}

.resultItem>a {
  text-decoration: none;
}

.songTitle>p {
  transition: .5s;
  font-size: 16px;
  margin-top: 3px;
  color: rgb(156, 61, 221);
  letter-spacing: .5px;
}

.songTitle>p:hover {
  transition: .5s;
  color: rgb(175, 83, 237);
}

.artistName>p {
  font-size: 19px;
  color: rgb(125, 35, 190);
  transition: .5s;
}

.artistName>p:hover {
  transition: .5s;
  color: rgb(140, 50, 205);
}
